fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.1.7
catboost
xgboost
pandas
scikit-learn
python-multipart
python-dotenv
